.review-card {
  background-color: #ced6e4c9;
  transform: scale(0.4);
  transition: 0.5s;
}

#review-activeCard {
  transform: scale(1);
}

.review-card-img {
  width: 50%;
  border-radius: 50%;
}

.review-card-title {
  font-size: 16px;
}

.review-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
