
.slick-slider{
  padding: 0px 10px;
  margin: 0px auto;
  width: 85%;
} 

.slick_slide {
  transform: scale(0.4);
  transition: 0.6s;
}


.slick_activeSlide {
  transform: scale(1);
}


/* .slick_slide:hover {
  transform: scale(1);
} */

.slick_slide img {
  width: 100%;
}

.slick-arrow::before{
  color: rgb(7, 139, 148) !important;
}

.slick-prev {
  left: -20px !important;
}

.slick-next {
  right: -20px !important;
}

.slick-active button::before{
  color: rgb(0, 196, 186) !important;
}