*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'poppins', sans-serif;
}

body {
  width: 100%;
  background-color: #ecedee !important;
}

.txt-bld-700{
  font-weight: 700 !important;
}

.nav-links{
  color: darkslategrey;
  font-weight: 500;
  margin: 5px 15px;
}

.nav-links:hover{
  color: white;
}

