*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  width: 100vw;
  background-color: #98a8bb !important;
}

.nav-links{
  color: white;
}

.nav-links:hover{
  color: rgb(226, 216, 221);
}